# Dependencies
node_modules/
.yarn/cache/
.yarn/unplugged/
.yarn/build-state.yml
.yarn/install-state.gz
.vercel
dist
.xmcp
xmcp-env.d.ts
.mcpregistry*
playwright-report/
test-results/
terraform.tfstate*
.terraform/
.terraform.lock.hcl
.mcp-test-results/
.DS_Store
cdk.out/
